In [25]:
import pandas as pd

news1 = pd.read_csv('filtered_news_title_1.csv')
news2 = pd.read_csv('filtered_news_title_2.csv')

# 병합

news3 = pd.concat([news1, news2], axis = 0)
news3

                                                     Title        Date
0        These glowing fish spread parasites to sperm w...  2018-09-24
1                           The dangers of eating raw fish  2018-09-14
2          Man develops infection after eating raw seafood  2018-09-01
3          Man develops infection after eating raw seafood  2018-09-01
4          Man develops infection after eating raw seafood  2018-09-01
...                                                    ...         ...
2589136  India tells citizens in Canada to exercise cau...  2023-09-21
2589137  First sign of West Nile virus in mosquitoes fo...  2023-09-21
2589138  Global India tells citizens in Canada to exerc...  2023-09-21
2589139  India tells students in Canada to exercise 'ex...  2023-09-21
2589140  India tells citizens in Canada to exercise cau...  2023-09-20

[6637909 rows x 2 columns]

In [26]:
news = news3.reset_index()
news

,index,Title,Date
0,0,These glowing fish spread parasites to sperm w...,2018-09-24
1,1,The dangers of eating raw fish,2018-09-14
2,2,Man develops infection after eating raw seafood,2018-09-01
3,3,Man develops infection after eating raw seafood,2018-09-01
4,4,Man develops infection after eating raw seafood,2018-09-01
...,...,...,...
6637904,2589136,India tells citizens in Canada to exercise cau...,2023-09-21
6637905,2589137,First sign of West Nile virus in mosquitoes fo...,2023-09-21
6637906,2589138,Global India tells citizens in Canada to exerc...,2023-09-21
6637907,2589139,India tells students in Canada to exercise 'ex...,2023-09-21
6637908,2589140,India tells citizens in Canada to exercise cau...,2023-09-20

In [35]:
news = news.sort_values(by='Date')
news_cleaned = news

In [36]:
news_cleaned['Title'] = news_cleaned['Title'].astype(str)
news_cleaned

,index,Title,Date,Cleaned_Title
7149,7149,Schmallenberg believed to have spread to all c...,2018-03-21,Schmallenberg believed to have spread to all c...
3213,3213,Schmallenberg believed to have spread to all c...,2018-03-21,Schmallenberg believed to have spread to all c...
19001,19001,Schmallenberg believed to have spread to all c...,2018-03-21,Schmallenberg believed to have spread to all c...
11064,11064,Schmallenberg believed to have spread to all c...,2018-03-21,Schmallenberg believed to have spread to all c...
15020,15020,Schmallenberg believed to have spread to all c...,2018-03-21,Schmallenberg believed to have spread to all c...
...,...,...,...,...
6635302,2586534,Weekly Bulletin on Outbreaks and other Emergen...,2023-09-21,Weekly Bulletin on Outbreaks and other Emergen...
6635319,2586551,Gates Foundation Honors 2023 Goalkeepers Award...,2023-09-21,Gates Foundation Honors 2023 Goalkeepers Award...
6635321,2586553,"IJMS, Vol. 24, Pages 14372 Five Different Arte...",2023-09-21,"IJMS, Vol. 24, Pages 14372 Five Different Arte..."
6634880,2586112,Dissent growing among GOP to help Ukraine Sena...,2023-09-21,Dissent growing among GOP to help Ukraine Sena...
6635106,2586338,Oil companies cautious about drilling as energ...,2023-09-21,Oil companies cautious about drilling as energ...

In [37]:
import re

def remove_special_chars(text):
    return re.sub(r'[()\[\]{}\-:;]', '', text)

news_cleaned['Title'] = news_cleaned['Title'].apply(remove_special_chars)

In [38]:
# 영어만, 태그가 <title> 인 것만 살리기, 태그가 없으면 가만히 냅두기

def clean_html_except_title(text):
    cleaned = re.sub(r'<(?!title\b)[^>]*>.*?</[^>]+>', '', text)
    final_cleaned = re.sub(r'</?title>', '', cleaned)
    return final_cleaned

news_cleaned['Cleaned_Title'] = news_cleaned['Title'].apply(clean_html_except_title)

def contains_only_english(text):
    return bool(re.match(r'^[a-zA-Z0-9\s.,!?\'\"()\-]+$', text))

news_cleaned = news_cleaned[news_cleaned['Cleaned_Title'].apply(contains_only_english)]

In [39]:
news_cleaned

,index,Title,Date,Cleaned_Title
7149,7149,Schmallenberg believed to have spread to all c...,2018-03-21,Schmallenberg believed to have spread to all c...
3213,3213,Schmallenberg believed to have spread to all c...,2018-03-21,Schmallenberg believed to have spread to all c...
19001,19001,Schmallenberg believed to have spread to all c...,2018-03-21,Schmallenberg believed to have spread to all c...
11064,11064,Schmallenberg believed to have spread to all c...,2018-03-21,Schmallenberg believed to have spread to all c...
15020,15020,Schmallenberg believed to have spread to all c...,2018-03-21,Schmallenberg believed to have spread to all c...
...,...,...,...,...
6635304,2586536,Polio outbreak in Ukraine closed,2023-09-21,Polio outbreak in Ukraine closed
6635303,2586535,Polio outbreak in Ukraine closed A success sto...,2023-09-21,Polio outbreak in Ukraine closed A success sto...
6635302,2586534,Weekly Bulletin on Outbreaks and other Emergen...,2023-09-21,Weekly Bulletin on Outbreaks and other Emergen...
6635319,2586551,Gates Foundation Honors 2023 Goalkeepers Award...,2023-09-21,Gates Foundation Honors 2023 Goalkeepers Award...
6635106,2586338,Oil companies cautious about drilling as energ...,2023-09-21,Oil companies cautious about drilling as energ...

In [40]:
# stop_words = set([
#     'i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your',
#     'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it',
#     "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this',
#     'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had',
#     'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while',
#     'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after',
#     'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other',
#     'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just',
#     'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', '[',']', '(', ')', '{', '}', '-', '--', ':', ';'
# ])

# def process_text(text):
#     words = text.lower().split()
#     words = [word for word in words if word not in stop_words]
#     return ' '.join(words)

# news_cleaned['Title'] = news_cleaned['Title'].apply(process_text)

In [41]:
stop_words = set(['[',']', '{', '}', '--', ':', ';', '<', '>'])

def process_text(text):
    words = text.lower().split()
    words = [word for word in words if word not in stop_words]
    return ' '.join(words)

news_cleaned['Title'] = news_cleaned['Title'].apply(process_text)

C:\Users\gmleh\AppData\Local\Temp\ipykernel_12244\992725059.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  news_cleaned['Title'] = news_cleaned['Title'].apply(process_text)

In [42]:
news_cleaned = news_cleaned.drop_duplicates(subset='Title', keep='first')
news_cleaned

,index,Title,Date,Cleaned_Title
7149,7149,schmallenberg believed to have spread to all c...,2018-03-21,Schmallenberg believed to have spread to all c...
31507,31507,mass treatment with azithromycin may decrease ...,2018-03-22,Mass treatment with azithromycin may decrease ...
19718,19718,rival 3d print companies in legal battle,2018-03-22,Rival 3D print companies in legal battle
27576,27576,yaws epidemic hits kavieng in papua new guinea,2018-03-23,YAWS EPIDEMIC HITS KAVIENG IN PAPUA NEW GUINEA
30217,30217,the true cost of antibiotic resistance in brit...,2018-03-29,The true cost of antibiotic resistance in Brit...
...,...,...,...,...
6634884,2586116,"uk ""footfall is strong but spending is down as...",2023-09-21,"UK ""Footfall is strong but spending is down as..."
6635306,2586538,diphtheria in vietnam,2023-09-21,Diphtheria in Vietnam
6635305,2586537,level 2 diphtheria in vietnam,2023-09-21,Level 2 Diphtheria in Vietnam
6635302,2586534,weekly bulletin on outbreaks and other emergen...,2023-09-21,Weekly Bulletin on Outbreaks and other Emergen...
6635106,2586338,oil companies cautious about drilling as energ...,2023-09-21,Oil companies cautious about drilling as energ...

In [43]:
news_cleaned = news_cleaned[['Title', 'Date']]
news_cleaned

                                                     Title        Date
7149     schmallenberg believed to have spread to all c...  2018-03-21
31507    mass treatment with azithromycin may decrease ...  2018-03-22
19718             rival 3d print companies in legal battle  2018-03-22
27576       yaws epidemic hits kavieng in papua new guinea  2018-03-23
30217    the true cost of antibiotic resistance in brit...  2018-03-29
...                                                    ...         ...
6634884  uk "footfall is strong but spending is down as...  2023-09-21
6635306                              diphtheria in vietnam  2023-09-21
6635305                      level 2 diphtheria in vietnam  2023-09-21
6635302  weekly bulletin on outbreaks and other emergen...  2023-09-21
6635106  oil companies cautious about drilling as energ...  2023-09-21

[1138810 rows x 2 columns]

In [44]:
news_cleaned.to_csv('data_for_PT/news_for_PT.csv')

In [45]:
news_input = news_cleaned
news_input

                                                     Title        Date
7149     schmallenberg believed to have spread to all c...  2018-03-21
31507    mass treatment with azithromycin may decrease ...  2018-03-22
19718             rival 3d print companies in legal battle  2018-03-22
27576       yaws epidemic hits kavieng in papua new guinea  2018-03-23
30217    the true cost of antibiotic resistance in brit...  2018-03-29
...                                                    ...         ...
6634884  uk "footfall is strong but spending is down as...  2023-09-21
6635306                              diphtheria in vietnam  2023-09-21
6635305                      level 2 diphtheria in vietnam  2023-09-21
6635302  weekly bulletin on outbreaks and other emergen...  2023-09-21
6635106  oil companies cautious about drilling as energ...  2023-09-21

[1138810 rows x 2 columns]

In [46]:
from datetime import datetime, timedelta

def parse_date(date_str):
    for fmt in ("%Y%m%d", "%Y-%m-%d"):
        try:
            return datetime.strptime(date_str, fmt)
        except ValueError:
            pass
    return None  # 만약 포맷에 맞지 않으면 None 반환

# PTNAPLC_YMD 열 변환
news_input['Date'] = news_input['Date'].apply(parse_date)

C:\Users\gmleh\AppData\Local\Temp\ipykernel_12244\2861295479.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  news_input['Date'] = news_input['Date'].apply(parse_date)

In [47]:
news_input

                                                     Title       Date
7149     schmallenberg believed to have spread to all c... 2018-03-21
31507    mass treatment with azithromycin may decrease ... 2018-03-22
19718             rival 3d print companies in legal battle 2018-03-22
27576       yaws epidemic hits kavieng in papua new guinea 2018-03-23
30217    the true cost of antibiotic resistance in brit... 2018-03-29
...                                                    ...        ...
6634884  uk "footfall is strong but spending is down as... 2023-09-21
6635306                              diphtheria in vietnam 2023-09-21
6635305                      level 2 diphtheria in vietnam 2023-09-21
6635302  weekly bulletin on outbreaks and other emergen... 2023-09-21
6635106  oil companies cautious about drilling as energ... 2023-09-21

[1138810 rows x 2 columns]

In [48]:
df_for_input = news_input

In [49]:
def convert_to_datetime(row):
    try:
        return pd.to_datetime(row['Date'], format='%Y-%m-%d', errors='raise')
    except Exception as e:
        return None

df_for_input['Date'] = df_for_input.apply(convert_to_datetime, axis=1)

df_for_input = df_for_input.dropna(subset=['Date'])

df_for_input

C:\Users\gmleh\AppData\Local\Temp\ipykernel_12244\2653208038.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_for_input['Date'] = df_for_input.apply(convert_to_datetime, axis=1)

                                                     Title       Date
7149     schmallenberg believed to have spread to all c... 2018-03-21
31507    mass treatment with azithromycin may decrease ... 2018-03-22
19718             rival 3d print companies in legal battle 2018-03-22
27576       yaws epidemic hits kavieng in papua new guinea 2018-03-23
30217    the true cost of antibiotic resistance in brit... 2018-03-29
...                                                    ...        ...
6634884  uk "footfall is strong but spending is down as... 2023-09-21
6635306                              diphtheria in vietnam 2023-09-21
6635305                      level 2 diphtheria in vietnam 2023-09-21
6635302  weekly bulletin on outbreaks and other emergen... 2023-09-21
6635106  oil companies cautious about drilling as energ... 2023-09-21

[1138810 rows x 2 columns]

In [50]:
import numpy as np
from datetime import datetime, timedelta

def to_weekly_date_custom(date):
    adjusted_date = date - timedelta(days=1)  
    monday = adjusted_date - timedelta(days=adjusted_date.weekday())  
    return monday + timedelta(days=1)  


def to_weekly_date_custom_with_error_handling(row):
    try:
        return to_weekly_date_custom(row['Date'])
    except Exception as e:
        return None

df_for_input['Weekly_Date_Custom'] = df_for_input.apply(to_weekly_date_custom_with_error_handling, axis=1)

df_for_input = df_for_input.dropna(subset=['Weekly_Date_Custom'])

df_for_input

,Title,Date,Weekly_Date_Custom
7149,schmallenberg believed to have spread to all c...,2018-03-21,2018-03-20
31507,mass treatment with azithromycin may decrease ...,2018-03-22,2018-03-20
19718,rival 3d print companies in legal battle,2018-03-22,2018-03-20
27576,yaws epidemic hits kavieng in papua new guinea,2018-03-23,2018-03-20
30217,the true cost of antibiotic resistance in brit...,2018-03-29,2018-03-27
...,...,...,...
6634884,"uk ""footfall is strong but spending is down as...",2023-09-21,2023-09-19
6635306,diphtheria in vietnam,2023-09-21,2023-09-19
6635305,level 2 diphtheria in vietnam,2023-09-21,2023-09-19
6635302,weekly bulletin on outbreaks and other emergen...,2023-09-21,2023-09-19
6635106,oil companies cautious about drilling as energ...,2023-09-21,2023-09-19

In [51]:
df_for_input = df_for_input.sort_values(by='Weekly_Date_Custom')
df_for_input

,Title,Date,Weekly_Date_Custom
7149,schmallenberg believed to have spread to all c...,2018-03-21,2018-03-20
31507,mass treatment with azithromycin may decrease ...,2018-03-22,2018-03-20
19718,rival 3d print companies in legal battle,2018-03-22,2018-03-20
27576,yaws epidemic hits kavieng in papua new guinea,2018-03-23,2018-03-20
30217,the true cost of antibiotic resistance in brit...,2018-03-29,2018-03-27
...,...,...,...
6626295,startup advances employee productivity measure...,2023-09-19,2023-09-19
6626274,business global times uzbekistan eyes closer c...,2023-09-19,2023-09-19
6626276,deputy pm of fbih met with the delegation of t...,2023-09-19,2023-09-19
6626177,climate action must respond to extreme weather...,2023-09-19,2023-09-19
6635106,oil companies cautious about drilling as energ...,2023-09-21,2023-09-19

In [57]:
title_counts = df_for_input.groupby('Weekly_Date_Custom')['Title'].count().reset_index(name='Title_Count')
title_counts.to_csv('news_count.csv')

In [52]:
df_for_input['News_Index'] = df_for_input.groupby('Weekly_Date_Custom').cumcount() + 1
df_for_input['Updated_Title'] = '[News ' + df_for_input['News_Index'].astype(str) + '] ' + df_for_input['Title']

# Now we will concatenate all titles within each 'Weekly_Date_Custom' group
grouped_df = df_for_input.groupby('Weekly_Date_Custom')['Updated_Title'].apply(' '.join).reset_index()
grouped_df

    Weekly_Date_Custom                                      Updated_Title
0           2018-03-20  [News 1] schmallenberg believed to have spread...
1           2018-03-27  [News 1] the true cost of antibiotic resistanc...
2           2018-04-03  [News 1] infectious disease weekly report file...
3           2018-04-10  [News 1] girl, 2, dies after powerful storm kn...
4           2018-04-17  [News 1] how cancercausing virus clings to our...
..                 ...                                                ...
283         2023-08-22  [News 1] dasha kvitkova told about the conditi...
284         2023-08-29  [News 1] russians were advised to get vaccinat...
285         2023-09-05  [News 1] india's g20 presidency has become sym...
286         2023-09-12  [News 1] cristiano ronaldo to sue juventus ove...
287         2023-09-19  [News 1] form 8k elevance health, inc. for sep...

[288 rows x 2 columns]

In [20]:
# def concatenate_abstracts(df):
#     df_concatenated = df.groupby('Weekly_Date_Custom', as_index=False).agg({
#         'Title': ' '.join
#     })
#     return df_concatenated

In [21]:
# final_df = concatenate_abstracts(df_for_input)
# final_df

    Weekly_Date_Custom                                              Title
0           2018-03-20  Schmallenberg believed to have spread to all c...
1           2018-03-27  Azole Resistance of Environmental and Clinical...
2           2018-04-03   Infectious Disease Weekly Report File Size 179kB
3           2018-04-10  Girl, 2, dies after powerful storm knocked a t...
4           2018-04-17  Homemade Microscope Reveals How A CancerCausin...
..                 ...                                                ...
283         2023-08-22  MILOSI United Kingdom Ban and tagging for dire...
284         2023-08-29  Super gonorrhoea cases are rising and could be...
285         2023-09-05  LA health director 'not focused' on mask manda...
286         2023-09-12  EU Ministers Agree On Fiscal Reform Workers st...
287         2023-09-19  Nipah Virus Key Facts No new Nipah cases repor...

[288 rows x 2 columns]

In [53]:
grouped_df.to_csv('input_data/news_for_input.csv')